.container {
    display: flex;
    flex-direction: column;
    height: auto;
    width:auto;
}

.header {
    background-color: #f1efef;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(187, 186, 186);
    text-decoration-style: solid;
    font-size: medium;
}

.company-name {
    padding-left: 25px;
    width: 60%;
}

a {
    color:black;
    text-decoration: none;
}

.options {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.login-button {
    color: rgb(100, 173, 241);
    border-radius: 5px;
    border-color: rgb(47, 144, 235);
    height: 35px;
    width: 70px;
}

.sub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscription {
    text-align: center;
    width: 750px;
}


.text {
    color: rgb(66, 61, 61);
}

.text-heading {
    font-size: xx-large;
}

.pricing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pricing-option { 
    border: 1px solid rgb(200, 199, 199);   
    width: 200px;
}

.pricing-option:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.price {
    font-size: xx-large;
}

.subs-title {
    background-color: rgb(231, 228, 228);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subs-body {
    padding-left: 5px;
}

.list {
    list-style-type:none;
    text-align: center;
}

button {
    border-radius: 5px;
    border-color: rgb(34, 126, 246);
    color: rgb(34, 126, 246);
    height: 30px;
    align-self: center;
    margin-bottom: 5px;
    width: 190px;
}

button:hover {
    background-color: blue;
    color: white;
}

.footer{
    text-align: center;
    display: flex;
}

.footer-heading {
    font-weight: bold;
    color: rgb(66, 64, 64);
}

.footer-list {
    list-style-type:none;
    text-align: left;
    color: rgb(197, 193, 193);
}

