.container {
    display: flex;
    flex-direction: column;
    height: auto;
    width:auto;
}

.header {
    background-color: #f1efef;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(187, 186, 186);
    text-decoration-style: solid;
    font-size: medium;
}

.company-name {
    padding-left: 25px;
    width: 60%;
}

a {
    color:black;
    text-decoration: none;
}

.options {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.login-button {
    color: rgb(100, 173, 241);
    border-radius: 5px;
    border-color: rgb(47, 144, 235);
    height: 35px;
    width: 70px;
}

.subscription {
    text-align: center;
}

.content {
    /* font-size: 20px; */
}

.text {
    color: rgb(66, 61, 61);
}

.text-heading {
    font-size: xx-large;
}

.pricing {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pricing-option { 
    border: 1px solid rgb(200, 199, 199);
    width: 200px;
}

.subs-title {
    background-color: rgb(231, 228, 228);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subs-body {
    padding-left: 5px;
}

.list {
    list-style-type:none;
    text-align: center;
}

button {
    border-radius: 5px;
    border-color: rgb(34, 126, 246);
    color: rgb(34, 126, 246);
    height: 30px;
    align-self: center;
}

button:hover {
    background-color: blue;
    color: white;
}